:root {
  --dark: #131722;
  --light-dark: #18202d;
  --blue: #5964e0;
  --light-blue: #6670e3;
  --light: #f5f6f8;
  --white: #fff;
  --gray: #999;
  --sm-tablet-width: 620px;
  --lg-tablet-width: 960px;
  --desktop-width: 1200px;
}
*{
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
